{% if question_list %}
    <ul>
    {% for question in question_list %}
        <li><a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %}

<!DOCTYPE html>
<html>
    <body>
	<h1>로그인</h1>

		아이디 : &nbsp;&nbsp; <input type="text" name="ID"><br>

		비밀번호 : <input type="password" name="pw">
	    <button type="ok"> 로그인 </button>
	    
	<p id="asd">
	<b>댓글 :</b> <br>
	<span>
		<textarea  name="comment" cols="205" rows="7" style="background-color: whitesmoke;">댓글을 입력해 주세요. </textarea>
		<input type="button" value="수정" >		
		<input type="button" value="작성" >		
	</span>
	</p>

</body>
</html>
